nav{
    background-color: #0080ff;
    color: #DDDDDD;
    padding: 20px;
    border-radius: 100px;
}
h1{
    background-color: #470097;
    text-align: center;
    padding: 20px;
    border-radius: 115px;
    color: #DDDDDD;

}
html{
    background-color: #0D1321;
    justify-content: center;
    flex-direction: row;
    display: flex;
    text-align: center;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
    background-color: #e100ff;
    padding: 5px;
    color: #ffffff;
    border-radius: 15px;

}

li{
    margin-bottom: 20px;
}

.pixelify-sans-coolclass {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.one{
    background-color: #7700ff;
    color: #DDDDDD;
    margin-bottom: 50px;
    border-radius: 45px;
}

.two{
    background-color: #7700ff;
    color: #DDDDDD;
    margin-bottom: 200px;
    border-radius: 45px;
}

a{
    color: #DDDDDD;
}

a:hover{
    background-color: #ff00b3;
}

.half{
    background-color: #0080ff;
    padding: 55px;
    margin: 30px;
    border-radius: 30px;
}